<center>
<h1>Craigslist</h1>

<h3>Today is: {{current-date}}</h3>
</center>
<h3>Categories</h3>

{{#each model as |category|}}
<p>{{ category-tile category=category }}</p>
{{/each}}

{{new-category save="save"}}



{{outlet}}
